body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.clr {
    clear: both;
}
    
.box {
    width: 100%;
}
h1 {
    width: 100%;
    background-color: lightgray;
    padding: 10px;
}
ul {
    padding: 10px;
}
ul li {
    list-style: none;
}
.main {
    padding: 10px;
}
img {
    width: 100%;
}
.side {
    margin: 10px;
    border: 1px solid rgb(177, 200, 207);
    background-color: rgb(177, 200, 207);
    padding:10px;
}

footer {
    width: 100%;
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}

@media screen and (min-width: 600px) {
    .list {
        margin: 0;
        width: 30%;
        float: left;
    }
    .main {
        width: 60%;
        float: left;
        padding: 0;
    }
}

@media screen and (min-width: 800px) {
    .list {
        margin: 0;
        width: 20%;
        float: left;
    }
    .main {
        width: 50%;
        float: left;
        padding: 0;
    }
    .side {
        float: right;
        width: 20%;
        margin: 10px;
    }
    .clr {
        display: none;
    }
    .delete {
        clear: both;
    }
}
